/* ==================================
 * Theme
 * ================================== */

header {
  background-image: url(img/header_lodyas.png);
  background-size: 25%;
  color: white;
  margin-bottom: 10px;

  font-family: 'Roboto', sans-serif;
}

header h1 {
  color: white;
  line-height: 1;
  font-weight: 900;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: inline-block;
  vertical-align: top;
}

header h2 {
  display: inline-block;
  font-size: 1em;
  margin:0px 0px 10px 30px;
}

header h1 a,
header h1 a:hover,
header h1 a:focus,
header h1 a:active,
header h1 a:visited {
  color: white;
  text-decoration: none;
}

header img {
  display: inline-block;
  height: 64px;
  margin: 7px;
}

body {
  background-image: url(img/crossword.png);
}

button#searcher-go {
  background: #e21414;
  color: white;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* ==================================
 * Search
 * ================================== */

#searcher {
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0px;
  margin-bottom: 4px;
  box-shadow: none;
}

#searcher-go {
  border: 0px;
  border-radius: 0px;
  padding: 6px 30px;
}

/* ==================================
 * Circles
 * ================================== */
.numberCircle {
  border-radius: 50%;
  width: 27px;
  height: 27px;
  text-align: center;
  display: inline-block;
  background: #e21414;
  color: white;
  box-shadow: 0px 0px 1px #e21414;
  font-weight: bold;
}

/* ==================================
 * Twitter Badges
 * ================================== */
.twitter-badge .well {
  background-size: cover;
  text-align: center;
}

.twitter-badge .well h1,
.twitter-badge .well h2,
.twitter-badge .well h3,
.twitter-badge .well h4,
.twitter-badge .well h5 {
  color: white;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 0px;
}

.twitter-badge .well h3 a,
.twitter-badge .well h3 a:hover,
.twitter-badge .well h3 a:focus,
.twitter-badge .well h3 a:active,
.twitter-badge .well h3 a:visited {
  color: white;
  text-decoration: none;
}

.twitter-badge .well .avatar {
  background: #fff;
  border: 5px solid #fff;
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(136,153,166,0.15);
  position: relative;
  padding: 0px !important;
}

.twitter-badge .well .avatar img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.twitter-badge .well .content .row {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}

/* ==================================
 * Bootstrap Masonry without Masonry
 * http://www.bootply.com/120682
 * ================================== */

#result_content.row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

#result_content.row > .col-md-6 {
 display: inline-block;
 padding:  .33rem;
 width:  100%; 
 float:none;
}
